<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-text pull-left">
      <a href="../page/page-list.html"
         class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left colorWhite"></span>
      </a>
    </div>

    <a class="navbar-brand">
      <b class="colorWhite">Widgets</b>
    </a>

    <div class="navbar-text pull-right">
      <a href="widget-chooser.html"
         class="navbar-link">
        <span class="glyphicon glyphicon-plus colorWhite"></span>
      </a>
    </div>

  </div>
</nav>

<div class="container-fluid">
  <div class="nhs-widget">
    <div class="nhs-toolbar">
      <a href="widget-heading.html">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
      <a href="#">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </a>
    </div>
    <h1>GIZMODO</h1>
  </div>

  <div class="nhs-widget">
    <div class="nhs-toolbar">
      <a href="widget-heading.html">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
      <a href="#">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </a>
    </div>
    <h2>Signal is Using a Surprising Tool to Make Your Privacy More Bulletproof</h2>
  </div>

  <div class="nhs-widget">
    <div class="nhs-transparent-toolbar">
      <a href="widget-image.html">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
      <a href="#">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </a>
    </div>
    <img class="nhs-image"
         src="http://lorempixel.com/400/200"/>
  </div>

  <div class="nhs-widget">
    <div class="nhs-toolbar">
      <a href="#">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
      <a href="#">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </a>
    </div>
    <p>If you want total privacy, Signal is the generally understood to be the
      <a href="https://lifehacker.com/secure-messaging-app-showdown-whatsapp-vs-signal-1794684943"
         target="_blank"
         rel="noopener">best messaging</a> app around. But that doesn't mean it offers total privacy.</p>
  </div>

  <div class="nhs-widget">
    <div class="nhs-toolbar">
      <a href="widget-heading.html">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
      <a href="#">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </a>
    </div>
    <h3>Space Shuttle Columbia</h3>
  </div>

  <div class="nhs-widget">
    <div class="nhs-transparent-toolbar">
      <a href="widget-youtube.html">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
      <a href="#">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </a>
    </div>
    <iframe class="nhs-frame"
            src="https://www.youtube.com/embed/gWhqLVkjK50">
    </iframe>
  </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">

    <div class="navbar-text pull-left">
      <a href="#"
         class="navbar-link">
        <span class="glyphicon glyphicon-play colorWhite"></span>
      </a>
    </div>

    <div class="navbar-text pull-left">
      <a href="#"
         class="navbar-link">
        <span class="glyphicon glyphicon-eye-open colorWhite"></span>
      </a>
    </div>

    <div class="navbar-text pull-right">
      <a href="../user/profile.html"
         class="navbar-link">
        <span class="glyphicon glyphicon-user colorWhite"></span>
      </a>
    </div>

  </div>
</nav>
