<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-text pull-left">
      <a [routerLink]="['/user', userId]"
         class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left colorWhite"></span>
      </a>
    </div>

    <a class="navbar-brand">
      <b class="colorWhite">Websites</b>
    </a>

    <div class="navbar-text pull-right">
      <a [routerLink]="['/user', userId, 'website', 'new']"
         class="navbar-link">
        <span class="glyphicon glyphicon-plus colorWhite"></span>
      </a>
    </div>

  </div>
</nav>

<div class="container-fluid">
  <ul class="list-group">
    <div *ngFor="let website of fetchWebsites()">
      <li class="list-group-item">
        <a [routerLink]="['/user', userId, 'website', website._id, 'page']">{{website.name}}</a>
        <a [routerLink]="['/user', userId, 'website', website._id]"
           class="pull-right">
          <span class="glyphicon-cog glyphicon"></span>
        </a>
      </li>
    </div>

  </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">

    <div class="navbar-text pull-right">
      <a [routerLink]="['/user', userId]"
         class="navbar-link">
        <span class="glyphicon glyphicon-user colorWhite"></span>
      </a>
    </div>

  </div>
</nav>




<!--
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid bg-primary">

    &lt;!&ndash;return mark&ndash;&gt;
    <div class="navbar-text pull-left">
      <a (click)="returnToProfile()" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left whiteText"></span>
      </a>
    </div>


    &lt;!&ndash;heading on the nav bar&ndash;&gt;
    <div class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b class="whiteText small-indent">Websites</b>
      </a>
    </div>

    &lt;!&ndash;add new website mark&ndash;&gt;
    <div class="navbar-text pull-right">
      <a class="navbar-link">
        <span (click)="navigateToWebsiteNew()" class="glyphicon glyphicon-plus whiteText"></span>
      </a>
    </div>
  </div>
</nav>

&lt;!&ndash;Below the banner&ndash;&gt;
<div class="container-fluid top-margin">
  <div *ngFor="let website of websites" class = 'borderless'>
    <li class="list-group-item">
      <a (click)="navigateToPage(website._id)">
        {{website.name}}
      </a>
      <a>
        <span (click)="navigateToWebsiteEdit(website._id)" class="glyphicon glyphicon-cog pull-right"></span>
      </a>
    </li>
  </div>
</div>

&lt;!&ndash; Footer &ndash;&gt;
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid bg-primary">
    <div class="navbar-text pull-right">
      <span (click)="returnToProfile()" class="glyphicon glyphicon-user whiteText"></span>
    </div>
  </div>
</nav>
-->
