<nav class=" abc navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand">
      <b class="colorWhite">CS5610: WEB DEVELOPMENT</b>
    </a>
  </div>
</nav>

<div class="fullscreen-bg">
  <video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">
    <source src="../../../assets/video/snowflakes.mp4" type="video/mp4">
  </video>
</div>
<div class="container-fluid">
  <div id="profile">
    <img src="../../../assets/image/profilePic.jpg" alt="Profile picture" class="nhs-image">
    <div id="intro">
      <p>Hello!<br>I am Nisarg Shah and I am currently pursuing my masters in Computer Science from Northeastern University.<br>
        This is my page for the course of Web Development (CS5610)</p></div>
  </div>

  <h1 class="colorWhite">
    Link to Project
  </h1>
  <ul class="list-group">
  <li>
    <h3><a href="https://nushuttle.herokuapp.com/" target="_blank">NU Shuttle</a></h3>
  </li>
  </ul>

  <h3 class="colorWhite">
    Links to Assignment
  </h3>
  <ul class="list-group">
  <li>
    <h4><a href="test" target="_blank">Assignment 1</a></h4>
    <h4><a href="https://webdev-shah-nisarghareshbhai.herokuapp.com/login" target="_blank">Assignment 2</a></h4>
    <h4><a href="https://webdev-shah-nisarghareshbhai.herokuapp.com/login" target="_blank">Assignment 3</a></h4>
    <h4><a href="https://webdev-shah-nisarghareshbhai.herokuapp.com/login" target="_blank">Assignment 4</a></h4>
    <h4><a href="https://webdev-shah-nisarghareshbhai.herokuapp.com/login" target="_blank">Assignment 5</a></h4>
    <h4><a href="https://webdev-shah-nisarghareshbhai.herokuapp.com/login" target="_blank">Assignment 6</a></h4>
  </li>
  </ul>

  <h4 class="colorWhite">
    Link to Project demo
  </h4>
  <ul class="list-group">
    <li>
      <h5><a href="https://youtu.be/ckEzgGBee4s" target="_blank">Project Demo</a></h5>
    </li>
  </ul>

  <h4 class="colorWhite">
    Link to GitHub
  </h4>
  <ul class="list-group">
    <li>
      <h5><a href="https://github.com/shahnisarg14" target="_blank">GitHub</a></h5>
    </li>
  </ul>
</div>
