<div class="container-fluid">
  <div *ngIf="errorFlag"
       class="alert alert-danger">
    {{errorMsg}}
  </div>
  <h1>Login</h1>

  <input [(ngModel)]="username"
         placeholder="Username"
         type="text"
         id="username"
         class="form-control"/>
  <input [(ngModel)]="password"
         placeholder="Password"
         type="password"
         id="password"
         class="form-control"/>
  <button class="btn btn-primary btn-block"
          (click)="login(username, password)"
          [disabled]="!(username && password)">
    Login
  </button>
  <button class="btn btn-success btn-block"
          [routerLink]="['/register']">
    Register
  </button>
</div>
