<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-4">
        <div class="navbar-text pull-left">
          <a [routerLink]="['/user', userId, 'website', websiteId, 'page']"
             class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left colorWhite"></span>
          </a>
        </div>

        <div class=" navbar-header hidden-xs">
          <a class="navbar-brand">
            <b class="colorWhite">Pages</b>
          </a>
        </div>

        <div class="navbar-text pull-right hidden-xs">
          <a [routerLink]="['/user', userId, 'website', websiteId, 'page', 'new']"
             class="navbar-link">
            <span class="glyphicon glyphicon-plus colorWhite"></span>
          </a>
        </div>
      </div>

      <div class="col-sm-8">
        <div class=" navbar-header pull-left">
          <a class="navbar-brand">
            <b class="colorWhite">Edit Page</b>
          </a>
        </div>

        <div class="navbar-text pull-right">
          <a (click)="updatePage(name, description)"
             class="navbar-link">
            <span class="glyphicon glyphicon-ok colorWhite"></span>
          </a>
        </div>
      </div>

    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">

    <div class="col-sm-4 hidden-xs">
      <ul class="list-group">
        <div *ngFor="let page of fetchPages()">
          <li class="list-group-item">
            <a [routerLink]="['/user', this.userId, 'website', this.websiteId, 'page', page._id, 'widget']">{{page.name}}</a>
            <a [routerLink]="['/user', userId, 'website', websiteId, 'page', page._id]"
               class="pull-right">
              <span class="glyphicon-cog glyphicon"></span>
            </a>
          </li>
        </div>
      </ul>
    </div>

    <div class="col-sm-8">
      <label>Name</label>
      <input [(ngModel)]="name"
             value="Blog post"
             placeholder="Page Name"
             type="text"
             id="pagename"
             class="form-control"/>
      <label>Title</label>
      <input [(ngModel)]="description"
             value="Favorite blog"
             placeholder="Page Title"
             type="text"
             id="pagetitle"
             class="form-control"/>
      <a (click)="deletePage()"
         class="btn btn-danger btn-block">
        Delete
      </a>
      <div *ngIf="errorFlag"
           class="alert alert-danger">
        {{errorMsg}}
      </div>
    </div>

  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">

    <div class="navbar-text pull-right">
      <a [routerLink]="['/user', userId]"
         class="navbar-link">
        <span class="glyphicon glyphicon-user colorWhite"></span>
      </a>
    </div>

  </div>
</nav>
