<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-text pull-left">
      <a [routerLink]="['/user', userId, 'website']"
         class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left colorWhite"></span>
      </a>
    </div>

    <a class="navbar-brand">
      <b class="colorWhite">Pages</b>
    </a>

    <div class="navbar-text pull-right">
      <a [routerLink]="['/user', userId, 'website', websiteId, 'page', 'new']"
         class="navbar-link">
        <span class="glyphicon glyphicon-plus colorWhite"></span>
      </a>
    </div>

  </div>
</nav>

<div class="container-fluid">
  <ul class="list-group">
    <div *ngFor="let page of fetchPages()">
      <li class="list-group-item">
        <a [routerLink]="['/user', this.userId, 'website', this.websiteId, 'page', page._id, 'widget']">{{page.name}}</a>
        <a [routerLink]="['/user', userId, 'website', websiteId, 'page', page._id]"
           class="pull-right">
          <span class="glyphicon-cog glyphicon"></span>
        </a>
      </li>
    </div>
  </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">

    <div class="navbar-text pull-right">
      <a [routerLink]="['/user', userId]"
         class="navbar-link">
        <span class="glyphicon glyphicon-user colorWhite"></span>
      </a>
    </div>

  </div>
</nav>
