<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-text pull-left">
      <a [routerLink]="['user/', this.userId, 'website', this.websiteId, 'page', this.pageId, 'widget']"
         class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left colorWhite"></span>
      </a>
    </div>

    <a class="navbar-brand">
      <b class="colorWhite">Widget Edit</b>
    </a>

    <div class="navbar-text pull-right">
      <a (click)="updateImage(text, width, url)"
         class="navbar-link">
        <span class="glyphicon glyphicon-ok colorWhite"></span>
      </a>
    </div>

  </div>
</nav>

<div class="container-fluid">

  <div class="form-group">
    <label for="name">
      Name
    </label>
    <input value="Lorem pixel"
           placeholder="Name of image"
           type="text"
           id="name"
           class="form-control"/>
  </div>

  <div class="form-group">
    <label for="text">
      Text
    </label>
    <input [(ngModel)]="text"
           value="You can find images on Lorem pixel"
           placeholder="Text for image"
           type="text"
           id="text"
           class="form-control"/>
  </div>

  <div class="form-group">
    <label for="url">
      URL
    </label>
    <input [(ngModel)]="url"
           value="http://lorempixel.com/"
           placeholder="http://lorempixel.com/"
           type="url"
           id="url"
           class="form-control"/>
  </div>

  <div class="form-group">
    <label for="width">
      Width
    </label>
    <input [(ngModel)]="width"
           value="100%"
           placeholder="100%"
           type="text"
           id="width"
           class="form-control"/>
  </div>

  <div class="form-group">
    <label>
      Upload
    </label>
    <form ngNoForm action="{{baseUrl}}/api/upload" method="post" enctype="multipart/form-data">
      <input  name="myFile"   type="file" class="form-control"/>
      <input  name="widgetId" value="{{widgetId}}"   style="display: none"/>
      <input  name="websiteId" value="{{websiteId}}"   style="display: none"/>
      <input  name="pageId" value="{{pageId}}"   style="display: none"/>
      <input  name="userId" value="{{userId}}"   style="display: none"/>
      <button type="submit" class="btn btn-primary btn-block"
              (click)="updateImage(text, width, url)">Upload Image</button>
      <br/>
    </form>
  </div>
  <a (click)="deleteImage(widgetId)"
     class="btn btn-danger btn-block">
    Delete
  </a>

</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">

    <div class="navbar-text pull-right">
      <a [routerLink]="['/user', userId]"
         class="navbar-link">
        <span class="glyphicon glyphicon-user colorWhite"></span>
      </a>
    </div>

  </div>
</nav>
